.status-bar{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 35px;
    padding: 5px 30px;
}

.status-bar__column{
    width:33%;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
    
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:first-child span{
    margin-right: 3px;
}

.status-bar__column .fa-battery-three-quarters{
    margin: 0px 5px;
}