.user-componenet{
    justify-content: space-between;
}


.user-componenet,
.user-componenet__column:first-child{
    display: flex;
    align-items: center;
}

.user-componenet__avatar{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
}

.user-componenet__avatar--xl{
    width: 80px;
    height: 80px;
    border-radius: 25px;
    margin-right: 30px;
}

.user-componenet__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin-right: 30px;
}

.user-componenet__title{
    font-size: 18px;
    font-weight: 700;
}

.user-componenet__subtitle{
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
}

.user-componenet__column:last-child{
    color: rgba(0,0,0,0.5);
}